# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Model files
*.pt
*.pth


# Data (avoid uploading heavy raw data)
data/raw/*
data/processed/*
!data/.gitkeep

# Logs
*.log

# OS files
.DS_Store
Thumbs.db


.env
*.json
credentials/
