name: Build and Deploy

on:
  push:
    branches: [ main ]

permissions:
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push (no cache)
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          no-cache: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/sinhala-dyslexic-writing-pattern-classifier:${{ github.sha }}
            ${{ secrets.DOCKERHUB_USERNAME }}/sinhala-dyslexic-writing-pattern-classifier:latest

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Deploy to Cloud Run
        uses: google-github-actions/deploy-cloudrun@v2
        with:
          service: dyslexic-pattern-detection-service
          region: europe-west1
          image: docker.io/${{ secrets.DOCKERHUB_USERNAME }}/sinhala-dyslexic-writing-pattern-classifier:${{ github.sha }}
